<header>
    <style>
        :root {
            --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            --heading-font: "Montserrat", sans-serif;
            --nav-font: "Lato", sans-serif;
        }
    </style>
</header>

<body>
    <div id=" contact-container" class="container">

            <table>
                <tr>
                    <!-- Adress -->
                    <th>
                        <div class="contact-card">
                            <div class="contact-header">
                                <i class="bi bi-envelope i"></i>
                            </div>
                            <div class="contact-details">
                                <div class="contact-info">
                                    <h3>Email</h3>
                                    <p>capitalstone340@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </th>
                    <!-- Email -->

                    <th>
                        <div class="contact-card">
                            <div class="contact-header">
                                <i class="bi bi-clock i"></i>
                            </div>
                            <div class="contact-details">
                                <div class="contact-info">
                                    <h3>Opening hours</h3>
                                    <p>From 9:00 Am to 9:00 PM</p>
                                </div>
                            </div>
                        </div>
                    </th>
                    <!-- Opening Hours -->

                    <th>
                        <div class="contact-card ">
                            <div class="contact-header ">
                                <i class="bi bi-instagram i"></i>
                            </div>
                            <div class="contact-details">
                                <div class="contact-info">
                                    <h3>Instagram</h3>
                                    <a href="instagram.com/CapitalStone">CapitalStone</a>
                                </div>
                            </div>

                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="contact-card">
                            <div class="contact-header">
                                <i class="bi bi-geo-alt i"></i>
                            </div>
                            <div class="contact-details">
                                <div class="contact-info">
                                    <h3>Address</h3>
                                    <p>بغداد - ساحة الواثق <br>بداية مجسر الربيعي</p>
                                </div>
                            </div>
                        </div>
                    </th>
                    <!-- Phone Number -->
                    <th>
                        <div class="contact-card ">
                            <div class="contact-header">
                                <i class="bi bi-telephone i"></i>
                            </div>
                            <div class="contact-details">
                                <div class="contact-info">
                                    <h3>Call us</h3>
                                    <p>+964 785 111 67 68 <br>+964 773 081 11 77</p>
                                </div>
                            </div>
                        </div>
                    </th>
                    <!-- Facebook -->
                    <th>
                        <div class="contact-card ">
                            <div class="contact-header">
                                <i class="bi bi-facebook i"></i>
                            </div>
                            <div class="contact-details">
                                <div class="contact-info">
                                    <h3>Facebook</h3>
                                    <a href="https://web.facebook.com/CapitalStone22">CapitalStone22</a>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr></tr>
            </table>

    </div>



</body>