<head>
    <style>
        .card-img {
            width: 290px;
            height: 300px;
            position: relative;
            
            border-top-left-radius: 10px;
            border-top-right-radius:10px;
        }

        .card[id]{
            height: 500px;
            margin: 40px;
            border-radius: 10px;
        }   
        .card[id] h5{
            position: relative;
            top: -20px;
            left: 5px;
        }
        .card[id] p{
            position: relative;
            left: 5px;
            top: -20px;
        }
        .b{
            position: relative;
            top: -200px;
            left: 7rem;
            width: 100px;
        }
        .card[id]{
            position: relative;
            left: 100px;
        }
    </style>
</head>

<body>

    <div class="card" id="1" style="width: 18rem; ">
        <img src="images/products/1.jpg" class="card-img-top card-img" alt="...">
        <div class="card-body" style="width: 10rem;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>   
        </div>
    </div>
    <div class="card" id="1" style="width: 18rem;">
        <img src="images/products/2.jpg" class="card-img-top card-img" alt="...">
        <div class="card-body" style="width: 10rem;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            
        </div>
    </div>
    <div class="card"id="1" style="width: 18rem;">
        <img src="images/products/3.jpg" class="card-img-top card-img" alt="...">
        <div class="card-body" style="width: 10rem;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <button type="button" class="b">View All</button>
</body>