<head>
    <style>
        body {
            background-color: rgb(255, 255, 255);
            font-family: Arial, sans-serif;
        }

        .p {
            font-size: 36px;
            font-weight: bold;
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            width: 300px;
            margin: 20px;
            padding: 10px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .card img {
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card-body {
            padding: 15px;
        }

        .card-description {
            font-size: 16px;
            color: #333;
        }

        /* Popup styles */
        .popup_-overlay_ {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 999;
            overflow: auto;
        }

        .popup_ {
            position: relative;
            margin: 5% auto;
            padding: 20px;
            background-color: transparent;
            border-radius: 5px;
            max-width: 80%;
            text-align: center;
        }

        .popup_ img {
            max-width: 100%;
            max-height: 80vh;
            border-radius: 5px;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 24px;
            cursor: pointer;
            color: #fff;
        }

        @media screen and (max-width: 800px) {
            .card-container {
                flex-direction: column;
                align-items: center;
            }

            .card {
                width: 90%;
                /* Adjust width as needed */
                margin: 10px 0;
                /* Adjust margins as needed */
            }
        }
    </style>
</head>

<body>
    <div class="p">All Products</div>
    <div class="card-container">
        <% if (products && products.length> 0) { %>
            <% products.forEach(product=> { %>
                <div class="card">
                    <img src="images/products/<%= product.path %>" class="card-img" alt="Product Image">
                    <div class="card-body">
                        <p class="card-description">
                            <%= product.description %>
                        </p>
                    </div>
                </div>
                <% }); %>
                    <% } else { %>
                        <p>No products found.</p>
                        <% } %>
    </div>

    <div id="popup_-overlay_" class="popup_-overlay_">
        <div class="popup_">
            <span id="close-popup_" class="close">&times;</span>
            <img id="popup_-img" src="" alt="Popup Image">
        </div>
    </div>

    <script>
        // JavaScript code for handling popup
        document.addEventListener("DOMContentLoaded", function () {
            const popup_Overlay = document.getElementById("popup_-overlay_");
            const popup_Img = document.getElementById("popup_-img");
            const closepopup_ = document.getElementById("close-popup_");
            const gallery_Imgs = document.querySelectorAll(".card-img");

            gallery_Imgs.forEach(img => {
                img.addEventListener("click", function () {
                    popup_Img.src = this.src;
                    popup_Overlay.style.display = "block";
                });
            });

            closepopup_.addEventListener("click", function () {
                popup_Overlay.style.display = "none";
            });

            popup_Overlay.addEventListener("click", function (event) {
                if (event.target === popup_Overlay) {
                    popup_Overlay.style.display = "none";
                }
            });
        });
    </script>
</body>