<header>
    <style>
        body {
            background-color: rgb(255, 255, 255);
        }

        .content {
            position: relative;
            top: 50px;
            direction: rtl;
            width: 600px;
            margin-left: 600px;

        }

        .content h2,
        p {

            position: relative;
            margin-left: 30px;
            font-family: var(--default-font);
        }

        .content h2 {
            position: relative;
            margin-left: 80px;
            font-family: var(--default-font);
        }

        .card-img_ {
            width: 300px;
            height: 400px;
            display: flexbox;
            position: relative;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card[id="Allproducts"] {
            position: relative;

            display: inline-block;
            height: 40%;
            margin: 40px;
            border-radius: 10px;
        }

        .card[id="Allproducts"] h5 {
            position: relative;
            top: -20px;
            left: 5px;
        }

        .card[id="Allproducts"] p {
            position: relative;
            left: 5px;
            top: -20px;
        }

        .card[id="Allproducts"] {
            position: relative;
            left: -24px;
        }

        .gallery_ {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .gallery_ img {
            width: 200px;
            height: auto;
            margin: 10px;
            cursor: pointer;
        }

        .popup_-overlay_ {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 999;
            overflow: auto;
        }

        .popup_ {
            position: relative;
            margin: 5% auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            max-width: 80%;
            text-align: center;
        }

        .popup_ img {
            max-width: 100%;
            max-height: 80vh;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 24px;
            cursor: pointer;
        }

        p {
            color: rgb(0, 0, 0);
            display: block;
            font-size: 30px;
            font-weight: bold;
            position: relative;
            left: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }

        
    </style>
</header>

<body>
    <!-- <div class="p"> -->
    <p>
        All Products
    </p>
    <div class="card" id="Allproducts" style="width: 18rem; ">
        <img src="images/products/1.jpg" class=".card-img-top card-img_" alt="...">
        <!-- <div class="card-body" style="width: 10rem;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div> -->
    </div>
    <div class="card" id="Allproducts" style="width: 18rem;">
        <img src="images/products/2.jpg" class=".card-img-top card-img_" alt="...">
        <!-- <div class="card-body" style="width: 10rem;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div> -->
    </div>
    <div class="card" id="Allproducts" style="width: 18rem;">
        <img src="images/products/3.jpg" class=" card-img_" alt="...">
        <!-- <div class="card-body" style="width: 10rem;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div> -->
    </div>
    <div class="card" id="Allproducts" style="width: 18rem; ">
        <img src="images/products/4.jpg" class=" card-img_" alt="...">
        <!-- <div class="card-body" style="width: 10rem;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div> -->
    </div>
    <div class="card" id="Allproducts" style="width: 18rem; ">
        <img src="images/products/v.jpg" class=" card-img_" alt="...">
        <!-- <div class="card-body" style="width: 10rem;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div> -->
    </div>
    <div class="card" id="Allproducts" style="width: 18rem; ">
        <img src="images/products/h.jpg" class=" card-img_" alt="...">
        <!-- <div class="card-body" style="width: 10rem;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div> -->
    </div>
    <div class="card" id="Allproducts" style="width: 18rem; ">
        <img src="images/products/hj.jpg" class=" card-img_" alt="...">
        <!-- <div class="card-body" style="width: 10rem;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div> -->
    </div>
    <div class="card" id="Allproducts" style="width: 18rem; ">
        <img src="images/products/xc.jpg" class=" card-img_" alt="...">
        <!-- <div class="card-body" style="width: 10rem;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div> -->
    </div>
    <div class="card" id="Allproducts" style="width: 18rem; ">
        <img src="images/products/1.jpg" class=" card-img_" alt="...">
        <!-- <div class="card-body" style="width: 10rem;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div> -->
    </div>
    <!-- </div> -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const popup_Overlay = document.getElementById("popup_-overlay_");
            const popup_Img = document.getElementById("popup_-img");
            const closepopup_ = document.getElementById("close-popup_");
            const gallery_Imgs = document.querySelectorAll(".card-img_");
            
            gallery_Imgs.forEach(img => {
                
                img.addEventListener("click", function () {
                    
                    popup_Img.src = this.src;
                    console.log(popup_Img.src);
                    popup_Overlay.style.display = "block";
                });
            });

            closepopup_.addEventListener("click", function () {
                popup_Overlay.style.display = "none";
            });

            popup_Overlay.addEventListener("click", function (event) {
                if (event.target === popup_Overlay) {
                    popup_Overlay.style.display = "none";
                }
            });
        });
    </script>
</body>


